
.main-section {
    background-color: burlywood;
    margin-top:0px;
    height: 100vh;
}
.headerSection {
    display: flex;
    justify-content: space-between;
    margin:20px;
  
}
.eachBookDiv {
    width:200px;
    border:1px solid rgb(100, 96, 71);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: azure;
    
}
.header{
    text-align: center;
}
.totalBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search {
    height:40px;
    width:300px;
    border:1px solid gray
}
.addButton {
    width:100px;
    height: 40px;
    background-color:green;
    border:0px;
    border-radius: 10px;
    color: white;
}
.deleteIcon {
    width: 30px;
    background-color: green;
    text-align: center;
    color: white;
}
.loading {
    color:red;
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
}
.title {
    text-align: center;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.bookFooter {
    display: flex;
    justify-content: space-around;
    width:100%;
}

.input-ele {
    width: 300px;
    height: 40px;
    border-radius: 2px;
    border:0px;
}
.button-section {
    margin-top: 20px;
    text-align: center;
}
.button-ele {
    border-radius: 10px;
    width:100px;
    height: 40px;
    background-color: rgb(117, 169, 228);
    color: white;
    border:0px;
}

.book-section{
    box-shadow: 5px 5px 5px 5px #888888;
    padding: 30px;
    margin:30px;
}

.back {
    font-size: 18px;
    margin-left: 10px;
color: cornflowerblue;
}